/*---------------*/
/*Main HTML style*/
/*---------------*/

html {
    background-color: rgb(220, 220, 220);
    font-size: 150%;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(239, 0, 0);
}

a, a:visited, a:active, a:hover {
    color: rgb(16, 116, 179);
    text-decoration: none;
}

/*---------------*/
/* Tables, td and th */
/*---------------*/

table, th, td{
    border: 1px solid black;
}

table {
    background-color: black;
}

th, td{
    background-color: rgb(255, 255, 255);
}

/*---------------*/
/* ID-Values */
/*---------------*/

#status_abgeschlossen{
    color: rgb(18, 202, 18);
}

#status_ausstehend{
    color: red;
}

#status_verschoben{
    color: rgb(211, 180, 0);
}

#status_abgesagt{
    text-decoration: line-through;
}
