html {
    background-color: white;
    font-size: 150%;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(239, 0, 0);
}

a, a:visited, a:active, a:hover {
    color: rgb(16, 116, 179);
    text-decoration: none;
}

/*---------------*/
/* Tables, td and th */
/*---------------*/

table, th, td{
    border: 1px solid black;
}

table {
    background-color: black;
}

th, td{
    background-color: white;
}

/*---------------*/
/* ID-Values */
/*---------------*/

#status_a{
    color: rgb(18, 202, 18);
}

#status_g{
    color: red;
}
